{% extends 'base.html' %}

{% block title %}
    Home Page
{% endblock %}

{% block content %}
    <div style="position: absolute; top: 85%; left: 50%; transform: translate(-50%, -50%);">
        <button onclick="location.href='{% url 'next_view' %}'" style="padding: 15px 30px; font-size: 18px; background-color: #aab8ee; border: blue; border-radius: 20px; cursor: pointer; box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2); transition: box-shadow 0.3s;"><span>&#8594;</span></button>
    </div>
{% endblock %}
